a, address, b,  blockquote, body,  cite, code, dd, del, div, dl, dt, em, fieldset,  form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
#root {
    min-width: 800px;
}
